USE [master]
GO
/****** Object:  Database [AIRLINEMANAGEMENTDB]    Script Date: 29/01/2026 3:27:43 PM ******/
CREATE DATABASE [AIRLINEMANAGEMENTDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AIRLINEMANAGEMENTDB', FILENAME = N'C:\Users\ASUS\AIRLINEMANAGEMENTDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AIRLINEMANAGEMENTDB_log', FILENAME = N'C:\Users\ASUS\AIRLINEMANAGEMENTDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AIRLINEMANAGEMENTDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AIRLINEMANAGEMENTDB]
GO
/****** Object:  Table [dbo].[Administrator]    Script Date: 29/01/2026 3:27:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Administrator](
	[administratorId] [int] NOT NULL,
	[username] [varchar](20) NULL,
	[password] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[administratorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AirportDetails]    Script Date: 29/01/2026 3:27:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AirportDetails](
	[airportDetailsId] [int] NOT NULL,
	[airportName] [varchar](70) NULL,
	[cityId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[airportDetailsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[City]    Script Date: 29/01/2026 3:27:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[cityId] [int] NOT NULL,
	[cityName] [varchar](50) NULL,
	[countryId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[cityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Country]    Script Date: 29/01/2026 3:27:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[countryId] [int] NOT NULL,
	[countryName] [varchar](25) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[countryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FlightDetails]    Script Date: 29/01/2026 3:27:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FlightDetails](
	[flightDetailsId] [int] NOT NULL,
	[flightName] [varchar](70) NULL,
PRIMARY KEY CLUSTERED 
(
	[flightDetailsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FlightSchedule]    Script Date: 29/01/2026 3:27:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FlightSchedule](
	[flightScheduleId] [int] IDENTITY(1,1) NOT NULL,
	[flightDetailsId] [int] NULL,
	[departureAirport] [int] NULL,
	[arrivalAirport] [int] NULL,
	[departureDate] [datetime2](0) NULL,
	[departureTime] [datetime2](0) NULL,
	[arrivalDate] [datetime2](0) NULL,
	[arrivalTime] [datetime2](0) NULL,
	[administratorId] [int] NULL,
	[createdAt] [datetime2](0) NOT NULL,
	[updatedAt] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[flightScheduleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Administrator] ([administratorId], [username], [password]) VALUES (1, N'arun', N'arun@123')
GO
INSERT [dbo].[AirportDetails] ([airportDetailsId], [airportName], [cityId]) VALUES (1, N'Cochin International Airport', 1)
INSERT [dbo].[AirportDetails] ([airportDetailsId], [airportName], [cityId]) VALUES (2, N'Trivandrum International Airport', 2)
INSERT [dbo].[AirportDetails] ([airportDetailsId], [airportName], [cityId]) VALUES (3, N'Dubai International Airport', 3)
GO
INSERT [dbo].[City] ([cityId], [cityName], [countryId]) VALUES (1, N'Kochi', 1)
INSERT [dbo].[City] ([cityId], [cityName], [countryId]) VALUES (2, N'Trivandrum', 1)
INSERT [dbo].[City] ([cityId], [cityName], [countryId]) VALUES (3, N'Dubai', 2)
GO
INSERT [dbo].[Country] ([countryId], [countryName]) VALUES (1, N'India')
INSERT [dbo].[Country] ([countryId], [countryName]) VALUES (2, N'United Arab Emirates')
INSERT [dbo].[Country] ([countryId], [countryName]) VALUES (3, N'United States')
GO
INSERT [dbo].[FlightDetails] ([flightDetailsId], [flightName]) VALUES (1, N'Air India')
INSERT [dbo].[FlightDetails] ([flightDetailsId], [flightName]) VALUES (2, N'IndiGo')
INSERT [dbo].[FlightDetails] ([flightDetailsId], [flightName]) VALUES (3, N'Emirates')
GO
SET IDENTITY_INSERT [dbo].[FlightSchedule] ON 

INSERT [dbo].[FlightSchedule] ([flightScheduleId], [flightDetailsId], [departureAirport], [arrivalAirport], [departureDate], [departureTime], [arrivalDate], [arrivalTime], [administratorId], [createdAt], [updatedAt]) VALUES (1, 1, 4, 1, CAST(N'2026-02-02T00:00:00.0000000' AS DateTime2), CAST(N'2026-01-29T10:00:00.0000000' AS DateTime2), CAST(N'2026-02-02T00:00:00.0000000' AS DateTime2), CAST(N'2026-01-29T17:00:00.0000000' AS DateTime2), 1, CAST(N'2026-01-29T14:01:02.0000000' AS DateTime2), CAST(N'2026-01-29T14:54:46.0000000' AS DateTime2))
INSERT [dbo].[FlightSchedule] ([flightScheduleId], [flightDetailsId], [departureAirport], [arrivalAirport], [departureDate], [departureTime], [arrivalDate], [arrivalTime], [administratorId], [createdAt], [updatedAt]) VALUES (3, 1, 1, 4, CAST(N'2026-01-30T00:00:00.0000000' AS DateTime2), CAST(N'2026-01-29T10:00:00.0000000' AS DateTime2), CAST(N'2026-01-30T00:00:00.0000000' AS DateTime2), CAST(N'2026-01-29T12:00:00.0000000' AS DateTime2), 1, CAST(N'2026-01-29T14:47:25.0000000' AS DateTime2), CAST(N'2026-01-29T14:47:25.0000000' AS DateTime2))
INSERT [dbo].[FlightSchedule] ([flightScheduleId], [flightDetailsId], [departureAirport], [arrivalAirport], [departureDate], [departureTime], [arrivalDate], [arrivalTime], [administratorId], [createdAt], [updatedAt]) VALUES (4, 1, 2, 1, CAST(N'2026-01-31T00:00:00.0000000' AS DateTime2), CAST(N'2026-01-29T10:00:00.0000000' AS DateTime2), CAST(N'2026-01-31T00:00:00.0000000' AS DateTime2), CAST(N'2026-01-29T13:20:00.0000000' AS DateTime2), 1, CAST(N'2026-01-29T15:15:29.0000000' AS DateTime2), CAST(N'2026-01-29T15:15:29.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[FlightSchedule] OFF
GO
ALTER TABLE [dbo].[FlightSchedule] ADD  DEFAULT (sysdatetime()) FOR [createdAt]
GO
ALTER TABLE [dbo].[FlightSchedule] ADD  DEFAULT (sysdatetime()) FOR [updatedAt]
GO
ALTER TABLE [dbo].[AirportDetails]  WITH CHECK ADD FOREIGN KEY([cityId])
REFERENCES [dbo].[City] ([cityId])
GO
ALTER TABLE [dbo].[City]  WITH CHECK ADD FOREIGN KEY([countryId])
REFERENCES [dbo].[Country] ([countryId])
GO
ALTER TABLE [dbo].[FlightSchedule]  WITH CHECK ADD FOREIGN KEY([administratorId])
REFERENCES [dbo].[Administrator] ([administratorId])
GO
ALTER TABLE [dbo].[FlightSchedule]  WITH CHECK ADD FOREIGN KEY([arrivalAirport])
REFERENCES [dbo].[AirportDetails] ([airportDetailsId])
GO
ALTER TABLE [dbo].[FlightSchedule]  WITH CHECK ADD FOREIGN KEY([departureAirport])
REFERENCES [dbo].[AirportDetails] ([airportDetailsId])
GO
ALTER TABLE [dbo].[FlightSchedule]  WITH CHECK ADD FOREIGN KEY([flightDetailsId])
REFERENCES [dbo].[FlightDetails] ([flightDetailsId])
GO
/****** Object:  StoredProcedure [dbo].[sp_AddFlightSchedule]    Script Date: 29/01/2026 3:27:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AddFlightSchedule]
(
    @flightDetailsId INT,
    @departureAirport INT,
    @arrivalAirport INT,
    @departureDate DATETIME2(0),
    @departureTime DATETIME2(0),
    @arrivalDate DATETIME2(0),
    @arrivalTime DATETIME2(0),
    @administratorId INT
)
AS
BEGIN
    -- Basic validation
    IF @departureAirport = @arrivalAirport
    BEGIN
        RAISERROR('Departure and Arrival airports cannot be the same', 16, 1);
        RETURN;
    END

    INSERT INTO FlightSchedule
    (
        flightDetailsId,
        departureAirport,
        arrivalAirport,
        departureDate,
        departureTime,
        arrivalDate,
        arrivalTime,
        administratorId
    )
    VALUES
    (
        @flightDetailsId,
        @departureAirport,
        @arrivalAirport,
        @departureDate,
        @departureTime,
        @arrivalDate,
        @arrivalTime,
        @administratorId
    );
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_AdminLogin]    Script Date: 29/01/2026 3:27:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_AdminLogin]
(
    @username VARCHAR(20),
    @password VARCHAR(20)
)
AS
BEGIN
    SELECT 
        administratorId,
        username
    FROM Administrator
    WHERE username = @username
      AND password = @password;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetFlightScheduleById]    Script Date: 29/01/2026 3:27:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetFlightScheduleById]
(
    @flightScheduleId INT
)
AS
BEGIN
    SELECT 
        fs.flightScheduleId,
        fd.flightName,
        dep.airportName AS DepartureAirport,
        arr.airportName AS ArrivalAirport,
        fs.departureDate,
        fs.departureTime,
        fs.arrivalDate,
        fs.arrivalTime,
        a.username AS CreatedBy,
        fs.createdAt,
        fs.updatedAt
    FROM FlightSchedule fs
    INNER JOIN FlightDetails fd
        ON fs.flightDetailsId = fd.flightDetailsId
    INNER JOIN AirportDetails dep
        ON fs.departureAirport = dep.airportDetailsId
    INNER JOIN AirportDetails arr
        ON fs.arrivalAirport = arr.airportDetailsId
    INNER JOIN Administrator a
        ON fs.administratorId = a.administratorId
    WHERE fs.flightScheduleId = @flightScheduleId;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ListAllAirportDetails]    Script Date: 29/01/2026 3:27:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ListAllAirportDetails]
AS
BEGIN
    SELECT
        ad.airportDetailsId,
        ad.airportName,
        c.cityName,
        co.countryName
    FROM AirportDetails ad
    INNER JOIN City c
        ON ad.cityId = c.cityId
    INNER JOIN Country co
        ON c.countryId = co.countryId
    ORDER BY co.countryName, c.cityName, ad.airportName;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ListAllFlightDetails]    Script Date: 29/01/2026 3:27:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ListAllFlightDetails]
AS
BEGIN
    SELECT
        flightDetailsId,
        flightName
    FROM FlightDetails
    ORDER BY flightName;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ListAllFlightSchedules]    Script Date: 29/01/2026 3:27:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ListAllFlightSchedules]
AS
BEGIN
    SELECT 
        fs.flightScheduleId,
        fd.flightName,
        dep.airportName AS DepartureAirport,
        arr.airportName AS ArrivalAirport,
        fs.departureDate,
        fs.departureTime,
        fs.arrivalDate,
        fs.arrivalTime,
        a.username AS CreatedBy,
        fs.createdAt,
        fs.updatedAt
    FROM FlightSchedule fs
    INNER JOIN FlightDetails fd 
        ON fs.flightDetailsId = fd.flightDetailsId
    INNER JOIN AirportDetails dep 
        ON fs.departureAirport = dep.airportDetailsId
    INNER JOIN AirportDetails arr 
        ON fs.arrivalAirport = arr.airportDetailsId
    INNER JOIN Administrator a
        ON fs.administratorId = a.administratorId
    ORDER BY fs.departureDate, fs.departureTime;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_SearchFlightSchedule]    Script Date: 29/01/2026 3:27:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SearchFlightSchedule]
(
    @flightName VARCHAR(70) = NULL,
    @departureAirport VARCHAR(70) = NULL,
    @arrivalAirport VARCHAR(70) = NULL,
    @departureDate DATE = NULL
)
AS
BEGIN
    SELECT 
        fs.flightScheduleId,
        fd.flightName,
        dep.airportName AS DepartureAirport,
        arr.airportName AS ArrivalAirport,
        fs.departureDate,
        fs.departureTime,
        fs.arrivalDate,
        fs.arrivalTime
    FROM FlightSchedule fs
    INNER JOIN FlightDetails fd 
        ON fs.flightDetailsId = fd.flightDetailsId
    INNER JOIN AirportDetails dep 
        ON fs.departureAirport = dep.airportDetailsId
    INNER JOIN AirportDetails arr 
        ON fs.arrivalAirport = arr.airportDetailsId
    WHERE
        (@flightName IS NULL OR fd.flightName LIKE '%' + @flightName + '%')
        AND (@departureAirport IS NULL OR dep.airportName LIKE '%' + @departureAirport + '%')
        AND (@arrivalAirport IS NULL OR arr.airportName LIKE '%' + @arrivalAirport + '%')
        AND (@departureDate IS NULL OR fs.departureDate = @departureDate);
END;


GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateFlightSchedule]    Script Date: 29/01/2026 3:27:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateFlightSchedule]
(
    @flightScheduleId INT,
    @flightDetailsId INT,
    @departureAirport INT,
    @arrivalAirport INT,
    @departureDate DATETIME2(0),
    @departureTime DATETIME2(0),
    @arrivalDate DATETIME2(0),
    @arrivalTime DATETIME2(0)
)
AS
BEGIN
    IF NOT EXISTS (SELECT 1 FROM FlightSchedule WHERE flightScheduleId = @flightScheduleId)
    BEGIN
        RAISERROR('Flight Schedule not found', 16, 1);
        RETURN;
    END

    UPDATE FlightSchedule
    SET
        flightDetailsId = @flightDetailsId,
        departureAirport = @departureAirport,
        arrivalAirport = @arrivalAirport,
        departureDate = @departureDate,
        departureTime = @departureTime,
        arrivalDate = @arrivalDate,
        arrivalTime = @arrivalTime,
        updatedAt = SYSDATETIME()
    WHERE flightScheduleId = @flightScheduleId;
END;
GO
USE [master]
GO
